# apps/base/whisper-cpu/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: whisper-cpu
  namespace: whisper-cpu
spec:
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: whisper-cpu
  type: ClusterIP
