apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-app-config
  namespace: backstage
data:
  app-config.yaml: |
    app:
      title: Fako Cluster Developer Portal
      baseUrl: https://backstage.landryzetam.net

    organization:
      name: Landry Zetam

    backend:
      baseUrl: https://backstage.landryzetam.net
      listen:
        port: 7007
      csp:
        connect-src: ["'self'", 'http:', 'https:']
      cors:
        origin: https://backstage.landryzetam.net
        methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
        credentials: true
      database:
        client: pg
        connection:
          host: ${POSTGRES_HOST}
          port: ${POSTGRES_PORT}
          user: ${POSTGRES_USER}
          password: ${POSTGRES_PASSWORD}
          database: backstage
          ssl:
            rejectUnauthorized: false

    integrations:
      github:
        - host: github.com
          token: ${GITHUB_TOKEN}

    auth:
      environment: production
      providers:
        github:
          production:
            clientId: ${AUTH_GITHUB_CLIENT_ID}
            clientSecret: ${AUTH_GITHUB_CLIENT_SECRET}

    scaffolder:
      defaultAuthor:
        name: Backstage Scaffolder
        email: backstage@landryzetam.net
      defaultCommitMessage: "feat(backstage): Initial scaffolding"

    catalog:
      import:
        entityFilename: catalog-info.yaml
        pullRequestBranchName: backstage-integration
      rules:
        - allow: [Component, System, API, Resource, Location, Template, Group, User]
      locations:
        # Local entity catalog from fako-cluster repo
        - type: url
          target: https://github.com/lyzetam/fako-cluster/blob/main/apps/base/backstage/catalog/all-components.yaml
          rules:
            - allow: [Component, System, Location]
        # Software templates
        - type: url
          target: https://github.com/lyzetam/fako-cluster/blob/main/apps/base/backstage/templates/minimal/template.yaml
          rules:
            - allow: [Template]
        - type: url
          target: https://github.com/lyzetam/fako-cluster/blob/main/apps/base/backstage/templates/standard/template.yaml
          rules:
            - allow: [Template]
        - type: url
          target: https://github.com/lyzetam/fako-cluster/blob/main/apps/base/backstage/templates/gpu-workload/template.yaml
          rules:
            - allow: [Template]
        - type: url
          target: https://github.com/lyzetam/fako-cluster/blob/main/apps/base/backstage/templates/full-stack/template.yaml
          rules:
            - allow: [Template]
      providers:
        github:
          fako-cluster:
            organization: 'lyzetam'
            catalogPath: '/apps/base/**/catalog-info.yaml'
            filters:
              repository: 'fako-cluster'
            schedule:
              frequency: { minutes: 30 }
              timeout: { minutes: 3 }

    kubernetes:
      serviceLocatorMethod:
        type: multiTenant
      clusterLocatorMethods:
        - type: config
          clusters:
            - name: fako-cluster
              url: https://kubernetes.default.svc
              authProvider: serviceAccount
              skipTLSVerify: true
              skipMetricsLookup: false
