apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: zi
  namespace: autobots
  labels:
    app: zi
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    - host: zi.landryzetam.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: zi
                port:
                  number: 8080
